---

---

<section class="w-screen h-screen">
  <div
    class="m-auto py-12 flex flex-col justify-baseline items-center text-center"
  >
    <h1 style="font-weight: 600;" class="text-9xl">
      iLearn, iBuild, <br /> iMaster.
    </h1>
    <h2 class="text-center text-lg text-gray-200">Growth Journal</h2>
    <button class="text-gray-400 font-bold mt-8 py-2 px-4">Insights </button>
    <h5 class="text-center text-xl mt-16 text-gray-200 w-3/4">
      A peek into my mind, which i treat as a lab of self-discovery, lessons
      learned, ideas experimented , and knowledge accumulated along the way.
    </h5>
  </div>
</section>
